<p>
  <%= @line.reader.moniker_or_name %>'s line at 
  <%= @line.event.name %>
</p>
<%= div_for @line, :position_in_room_of do %>
  <%= @line.position_in_room %>
  <% if editor_present? || current_reader == @line.reader %>
    <%= link_to '[change]', edit_line_path(@line) %>
  <% end %>
<% end %>

<% @line.places.each do |place| %>
  <%= div_for place, :in_line do %>
    <%= place.ordering %>) <%= place.querent.name %>
    <%= link_to 'begin reading', new_reading_path(:reading => {:querent_id => place.querent_id, :event_id => @line.event_id}) unless place.complete? %>
    <%= check_box_tag :complete, true, place.complete, :id => dom_id(place, :completion_of), :'data-place_id' => place.id %>
  <% end %>
<% end %>
