<p id="notice"><%= notice %></p>

<h1>Listing Positions</h1>

<table>
  <thead>
    <tr>
      <th>Spread</th>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <% @positions.each do |position| %>
      <tr>
        <td><%= position.spread.name %></td>
        <td><%= link_to position.name, position %></td>
        <td><%= position.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Position', new_position_path %>
