<p>
  <strong>Spread:</strong>
  <%= link_to @position.spread.name, @position.spread %>
</p>

<p>
  <%= @position.name %>
</p>

<p>
  <%= @position.description %>
</p>

<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>
