<%= form_for(@reading) do |f| %>
  <% if @reading.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@reading.errors.count, "error") %> prohibited this reading from being saved:</h2>

      <ul>
      <% @reading.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :event_id %><br>
    <%= f.select :event_id, options_from_collection_for_select(Event.all, :id, :name, @reading.event_id), :include_blank => 'Select' %>
  </div>
  <div class="field">
    <%= f.label :reader_id %><br>
    <%= f.select :reader_id, options_from_collection_for_select(Reader.all, :id, :moniker, @reading.reader_id), :include_blank => 'Select' %>
  </div>
  <div class="field">
    <%= f.label :querent_id %><br>
    <%= f.select :querent_id, options_from_collection_for_select(Reader.all, :id, :moniker, @reading.reader_id), :include_blank => 'Select' %>
  </div>
  <div class="field">
    <%= f.label :deck_id %><br>
    <%= f.select :deck_id, options_from_collection_for_select(Deck.all, :id, :name, @reading.deck_id), :include_blank => 'Select' %>
  </div>
  <div class="field">
    <%= f.label :spread_id %><br>
    <%= f.select :spread_id, options_from_collection_for_select(Spread.all, :id, :name, @reading.spread_id), :include_blank => 'Select' %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
