<p id="notice"><%= notice %></p>

<h1>Listing Readings</h1>

<table>
  <thead>
    <tr>
      <th>Event</th>
      <th>Reader</th>
      <th>Querent</th>
      <th>Deck</th>
      <th>Spread</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @readings.each do |reading| %>
      <tr>
        <td><%= reading.event.try(:name) %></td>
        <td><%= reading.reader.try(:moniker) %></td>
        <td><%= reading.querent.try(:moniker) %></td>
        <td><%= reading.deck.try(:name) %></td>
        <td><%= reading.spread.try(:name) %></td>
        <td><%= link_to 'Show', reading %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_reader %>
  <%= link_to 'New Reading', new_reading_path(:reading => {:reader_id => current_reader&.id, :querent_id => current_querent&.id}) %>
<% elsif current_querent %>
  <%= link_to 'My readings', querent_readings_path(current_querent) %>
<% end %>
