<p>
  <strong>Event:</strong>
  <%= @reading.event.name %>
</p>

<p>
  <strong>Reader:</strong>
  <%= @reading.reader.moniker %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @reading.subject.moniker %>
</p>

<p>
  <strong>Deck:</strong>
  <%= @reading.deck.try(:name) %>
</p>

<p>
  <strong>Spread:</strong>
  <%= @reading.spread.try(:name) %>
</p>

<%= link_to 'Edit', edit_reading_path(@reading) %> |
<%= link_to 'Back', readings_path %>
