<%= image_tag asset_path('tarottechnologo.jpg') %><br>
<%= link_to "I will register to receive readings", new_querent_registration_path %><br>
<p>
  Tarot Techno is a monthly inspirational event.
</p>

<p>
  Growth sometimes means going through darkness.  These two art forms can be good for that.
</p>

<p>
  The Tarot and Techno communities are welcoming and friendly.  You can come by yourself and you will meet people.
</p>

<p>
  The Tarot readings are a fun way to discuss your life.  And we hope the music stimulates your own thoughts.  Each push is careful, and we work as a team.
</p>

<p>
  Friday 10/14 at Lot 45<br>
  <a href="https://www.facebook.com/events/974091669368593/">RSVP Here</a>
  BROOKLYN
</p>

<p>
  <%= link_to 'facebook.com<span class="white">/</span>tarottechno'.html_safe, 'http://facebook.com/tarottechno', :class => ['green', 'blue', 'purple', 'orange', 'red'].sample %>
</p>

<p>
  Mail List
  <%= text_field_tag :email, nil, :id => 'mail_list_email_address' %>
  <%= link_to "yes", '#darkness_wins!', :id => 'join_mail_list' %>
</p>
