<%= image_tag asset_path('tarottechnologo.jpg') %><br>
<p>
  Tarot Techno is a monthly inspirational event.
</p>

<p>
  Growth means going through darkness.  These two art forms are good for that.<br>
  Start as a seed planted underground, and gradually you can see light.
</p>

<p>
  The Tarot readings discuss your life.  The Techno music stimulates your thoughts.  And the rest is up to you.
</p>
<br><br>

<p>
  Tarot Techno has a few guildlines for participating artists.<br>
  <%= link_to 'Guildlines for DJs', dj_guildline_path %><br>
  <%= link_to 'Guildlines for Readers', reader_guildline_path %>
</p>

<p>
  <%= link_to 'facebook.com<span class="white">/</span>tarottechno'.html_safe, 'http://facebook.com/tarottechno', :class => ['green', 'blue', 'purple', 'orange', 'red'].sample %>
</p>

<p>
  Mail List
  <%= text_field_tag :email, nil, :id => 'mail_list_email_address' %>
  <%= link_to "yes", '#darkness_wins!', :id => 'join_mail_list' %>
</p>
