<%= form_for @reader, :url => redefine_reader_path do |reader_form| %>
  <div>
    Moniker: <%= reader_form.text_field :moniker %>
  </div>
  
  <div>
    Avatar: <%= reader_form.file_field :avatar %>
  </div>
  
  <div>
    Phone: <%= reader_form.text_field :phone %>
  </div>
  
  <div>
    <%= reader_form.submit "This is good." %>
  </div>
  It takes a moment because of photo processing.
<% end %>
