<p id="notice"><%= notice %></p>

<h1>Listing Spreads</h1>

<table>
  <thead>
    <tr>
      <th>Tradition</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @spreads.each do |spread| %>
      <tr>
        <td><%= spread.tradition %></td>
        <td><%= spread.description %></td>
        <td><%= link_to 'Show', spread %></td>
        <td><%= link_to 'Edit', edit_spread_path(spread) %></td>
        <td><%= link_to 'Destroy', spread, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Spread', new_spread_path %>
