<p>
  <%= @spread.name %>
</p>

<p>
  <%= link_to @spread.tradition.name, @spread.tradition %>
</p>

<p>
  <%= @spread.description %>
</p>

<%= content_tag_for :header, @spread, :positions do %>
  ~card positions~
<% end %>
<% @spread.positions.sequenced.each do |position| %>
  <%= div_for position do %>
    <%= link_to position.name, position %>
  <% end %>
<% end %>
<%= link_to 'Add Position', new_position_path(:spread_id => @spread.id) %>
