<%= form_for(@suit) do |f| %>
  <% if @suit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@suit.errors.count, "error") %> prohibited this suit from being saved:</h2>

      <ul>
      <% @suit.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :symbol %><br>
    <%= f.text_field :symbol %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
