Sign up on tarottechno.com<br>
Readings are priced by a roll of the dice...
<div id="line_shift">
  <% @event.lines.randomized.each do |line| %>
    <%= div_for line do %>
      <%= line.reader.name %><br>
      <%= line.position_in_room %>
      <% line.places.unfinished.ordered.each do |place| %>
        <%= div_for place do %>
          <%= place.ordering %>:
          <%= place.querent&.name %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</div>

<script>
$(document).on('turbolinks:load', function() {
  $('#getting_around').hide()
  $('#getting_out').hide()
  
  var last_line;
  setInterval(function() {
    last_line = $('#line_shift .line')[0]
    last_line.remove();
    $('#line_shift').append(last_line);
  }, 7777);
  
  var reload_now = false;
  setInterval(function() {
    if (reload_now == true) {
      window.location = window.location;
    } else {
      reload_now = true;
    }
  }, 40000);
  
});
</script>