<%= form_for(@interpretation) do |f| %>
  <% if @interpretation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@interpretation.errors.count, "error") %> prohibited this interpretation from being saved:</h2>

      <ul>
      <% @interpretation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :card_id %><br>
    <%= f.select :card_id, options_from_collection_for_select(Card.all, :id, :name, @interpretation.card_id) %>
  </div>
  <div class="field">
    <%= f.label :appearance_id %><br>
    <%= f.select :appearance_id, options_from_collection_for_select(Appearance.all, :id, :name, @interpretation.appearance_id), :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :phrase %><br>
    <%= f.text_field :phrase %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :reader_id %><br>
    <%= f.select :reader_id, options_from_collection_for_select(Reader.all, :id, :moniker, @interpretation.reader_id) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
