<h1>a List of Interpretations</h1>

<table>
  <thead>
    <tr>
      <th>Card</th>
      <th>Phrase</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @interpretations.each do |interpretation| %>
      <tr>
        <td><%= interpretation.card.name %></td>
        <td><%= interpretation.phrase %></td>
        <td><%= markdowner.render(interpretation.description).html_safe %></td>
        <td><%= interpretation.appearance.try(:name) %></td>
        <td><%= link_to 'inspect->/', interpretation %></td>
        <td><%= link_to 're-write', rewrite_interpretation_path(interpretation) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Interpretation', new_interpretation_path %>
