<p>
  <strong>Reading:</strong>
  <%= @appearance.reading.name %>
</p>

<p>
  <strong>Card:</strong>
  <%= @appearance.card.name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @appearance.position.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @appearance.description %>
</p>

<%= link_to 'Edit', edit_appearance_path(@appearance) %> |
<%= link_to 'Back', appearances_path %>
