

<h1>a List of Cards</h1>

<table>
  <thead>
    <tr>
      <th>Deck</th>
      <th>Name</th>
      <th>Suit</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.deck.try(:name) %></td>
        <td><%= card.name %></td>
        <td><%= card.suit.try(:name) %></td>
        <td><%= link_to 'inspect->/', card %></td>
        <td><%= link_to 'interfere', edit_card_path(card) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Card', new_card_path %>
