<h1>a List of Decks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tradition</th>
    </tr>
  </thead>

  <tbody>
    <% @decks.each do |deck| %>
      <tr>
        <td><%= link_to deck.name, deck %></td>
        <td><%= deck.tradition.name %></td>
        <td><%= plural_nest deck, 'suit' %></td>
        <td><%= plural_nest deck, 'card' %></td>
        <td><%= plural_nest deck, 'interpretation' %></td>
        <td><%= plural_nest deck, 'reader' %></td>
        <td><%= link_to 'inspect->/', deck %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Deck', new_deck_path %>
