<p>
  <strong>Tradition:</strong>
  <%= link_to @deck.tradition.name, @deck.tradition %>
</p>

<p>
  <%= @deck.name %>
</p>

<%= content_tag_for :header, @deck, :cards do %>
  ~cards~
<% end %>
<%= div_for @deck, :cards_in do %>
  <% @deck.cards.sequenced.each do |card| %>
    <%= div_for card do %>
      <%= link_to card.name, card %>
    <% end %>
  <% end %>
<% end %>

<%= div_for @deck, :card_adder_for do %>
  <%= link_to 'Add Card', new_card_path(:card => {:deck_id => @deck.id}), :remote => true %>
<% end %>
