<!DOCTYPE html>
<html>
<head>
  <title>Tarot Techno</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Fugaz+One|Audiowide|Ceviche+One|Fredericka+the+Great|Life+Savers:700|Rye|Paprika|Sarina|New+Rocker|Milonga|MedievalSharp|Pirata+One|Akronim|Astloch:700|Faster+One|Metal+Mania' rel='stylesheet' type='text/css'>
  <% @font = ['Fugaz One', 'Audiowide', 'Ceviche One', 'Fredericka the Great','Life Savers', 'Rye', 'Paprika', 'New Rocker', 'Milonga', 'MedievalSharp', 'Pirata One', 'Akronim', 'Astloch', 'Faster One', 'Metal Mania'].sample %>
  <style>
    body {
      font-family: <%= @font %>;
    }
  </style>
  <meta name="google-site-verification" content="<%= ENV['GOOGLE_SITE_VERIFICATION_KEY'] %>" />
</head>
<body class="back_room">
  <% if current_reader %>
    <% if current_reader.email == ENV['EDITOR_EMAIL_ADDRESS'] %>
      <%= navigation_in_cards %>
    <% else %>
      <%= navigation_for_reader %>
    <% end %>
  <% elsif current_querent %>
    <%= navigation_for_querent %>
  <% end %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  
  <%= yield %>
  
  <% if current_querent %>
    <%= link_to 'I want to update my info.', revise_querent_path(current_querent) %>
  <% end %>
  
  <div id="logout">
    <%= link_to 'I will log out.', destroy_reader_session_path, :method => :delete %>
  </div>

  <%= google_analytics %>
</body>
</html>
