<!DOCTYPE html>
<html>
<head>
  <title>Tarot Techno</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Fugaz+One|Audiowide|Ceviche+One|Fredericka+the+Great|Life+Savers:700|Rye|Paprika|Sarina|New+Rocker|Milonga|MedievalSharp|Pirata+One|Akronim|Astloch:700|Faster+One|Metal+Mania' rel='stylesheet' type='text/css'>
  <% @font = ['Fugaz One', 'Audiowide', 'Ceviche One', 'Fredericka the Great','Life Savers', 'Rye', 'Paprika', 'Sarina', 'New Rocker', 'Milonga', 'MedievalSharp', 'Pirata One', 'Akronim', 'Astloch', 'Faster One', 'Metal Mania'].sample %>
  <style>
    body {
      font-family: <%= @font %>;
    }
  </style>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>

  
  <%= link_to "I will register to receive readings", new_querent_registration_path %><br>
  <%#= link_to "Already registered!", new_querent_session_path %><br><br>
  <%#= link_to "I will register to DO readings", new_reader_registration_path %><br>
  <%#= link_to "Already did.", new_reader_session_path %>

  <%= google_analytics %>
</body>
</html>
